@import '../../../assets/styles/variables';

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  background-color: #181818;
}

.app {
  width: 100%;
  max-width: $maxAppWidth;
}

