@import '../../../assets/styles/variables';

.user__block {
  box-shadow: 5px 5px 30px #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  border: 2px dashed $console-green;
  width: max-content;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  background-color: #181818;
  &:hover {
    transform: scale(1.1);
    border: 2px dotted $console-green;
  }
  & > div {
    display: flex;
    gap: 8px;
    font-size: 12px;
    & > svg {
      cursor: pointer;
    }
  }
   .user__profile {
    cursor: pointer;
    user-select: none;
  }

}
