@import '../../../assets/styles/variables';

.page__layout {
  position: relative;
  border-width: 2px;
  border-style: solid;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  border-image: linear-gradient(to bottom, $console-green, $console-green-opacity) 1 100%;
  .page__title {
    margin: 16px 0;
    font-size: 24px;
  }
}
