@import '../../../assets/styles/variables';

.header {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, $console-green);
  .header__content {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px dotted $console-green;
  }
  .header__user {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../assets/img/pixel.png");
  }
}
